<div class="side-bar">
    <img class="side-bar__logo" src="assets/img/logo2.png" alt="logo">

    <ul>
        <li class="link">
            <a href="#" class="btn-flip" data-back="See more" data-front="Best of the week"></a>
        </li>

        <li class="link">
            <a href="#" class="btn-flip" data-back="See more" data-front="Best artists"></a>
        </li>

        <li class="link">
            <a href="#" class="btn-flip" data-back="See more" data-front="Contacts"></a>
        </li>

        <li class="link">
            <a href="#" class="btn-flip" data-back="See more" data-front="About Us"></a>
        </li>
    </ul>

</div>
