<header class="header">
    <div class="header-container container">
        <div class="header-body">
            <div class="header-body__cover">
                <img src="assets/img/headerImg2.png" alt="">
            </div>
            <div class="header-body__input">
                <input type="text" class="body-input__search">
                <div class="body-input__img">
                    <img src="https://img.icons8.com/ios-glyphs/30/ffffff/search&#45;&#45;v1.png"/>
                </div>
            </div>
        </div>
    </div>
</header>


