.header{
    background: url(../../assets/img/header_img.jpg) center / cover no-repeat;

    .header-body__input{
        text-align: end;
        padding: 117px 26px 26px 0;

        .body-input{
            max-width: 364px;
            width: 100%;

            background: rgba(0,0,0,0);

            outline: none;

            border: none;
            border-bottom: 1px solid white;

            color: white;

            font-size: 16px;
        }
    }
}
