@import "src/styles";
@import "~swiper/scss";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.all-albums__body {
    background: $mainBackground;
    width: 710px;
    height: 310px;
    border-radius: 10px;

    .slider {
        display: flex;
        background: #F3F3F3;
        border-radius: 10px;

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .swiper-slide {
            border-radius: 10px;
            width: 190px;
            height: 190px;
            text-align: center;
            font-size: 18px;
            background: #fff;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



//.best-artist {
//    margin-top: 26px;
//    margin-left: 29px;
//    width: 701px;
//    height: 328px;
//    background: #F3F3F3;
//    border-radius: 10px;
//
//    .best-artist-of-the-week {
//        max-width: 701px;
//        padding-top: 14px;
//        padding-bottom: 14px;
//        text-align: center;
//        background: #3D3D3D;
//        border-radius: 10px 10px 0 0;
//
//        .best-artist_title {
//            font-family: Roboto, sans-serif;
//            color: white;
//            font-style: normal;
//            font-weight: normal;
//            font-size: 24px;
//        }
//    }
//}

