<div class="all-albums__body">
    <div class="slider">
        <div class="famous-albums">
            <p class="famous-albums_title">The most famous albums</p>
        </div>
        <swiper
            [spaceBetween]="30"
            [slidesPerView]="3"
            [mousewheel]="true"
            [autoplay]="{
                        delay: 1000,
                        disableOnInteraction: false
                    }"
            class="mySwiper"
        >
            <ng-template swiperSlide *ngFor="let album of albumDeezer">
                <div>
                    <div class="album-photo">
                        <img class="photo" src="{{album.album.cover_medium}}" alt="">
                    </div>
                    <div class="album_title">
                        <p class="title">{{album.album.title}}</p>
                    </div>
                </div>

            </ng-template>
        </swiper>

    </div>
</div>
