<div class="main-container">
    <div class="main-content">
        <div>
            <div class="slider">
                <swiper [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h1>slide1</h1>
                        </div>
                        <div class="swiper-slide">
                            <h1>slide2</h1>
                        </div>
                        <div class="swiper-slide">
                            <h1>slide3</h1>
                        </div>
                        <div class="swiper-slide">
                            <h1>slide4</h1>
                        </div>
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </swiper>
            </div>
            <div class="best-artist">

            </div>
        </div>

        <div class="best-music">

        </div>
    </div>

    <div class="player">

    </div>
</div>
