.main-content{
    .main-container{
        max-width: 1440px;

        margin: 0 auto;

        padding: 0 15px;
        box-sizing: content-box;

        .main-body{
            display: flex;
            margin: 26px 0 0 0;

            justify-content: space-around;

            .main-body__artist{
                display: flex;
                flex-direction: column;

                & > *:not(:last-child){
                    margin: 0 0 26px 0;
                }
            }
        }
    }
}



