<div class="main-container">
    <div class="main-content">
        <div>
            <div class="slider">
                <swiper
                    [spaceBetween]="30"
                    [centeredSlides]="true"
                    [slidesPerView]="3"
                    [autoplay]="{
                        delay: 1500,
                        disableOnInteraction: false
                    }"
                    [navigation]="true"
                    class="mySwiper"
                >
                    <ng-template swiperSlide>Slide 1</ng-template>
                    <ng-template swiperSlide>Slide 2</ng-template>
                    <ng-template swiperSlide>Slide 3</ng-template>
                    <ng-template swiperSlide>Slide 4</ng-template>
                    <ng-template swiperSlide>Slide 5</ng-template>
                    <ng-template swiperSlide>Slide 6</ng-template>
                    <ng-template swiperSlide>Slide 7</ng-template>
                    <ng-template swiperSlide>Slide 8</ng-template>
                    <ng-template swiperSlide>Slide 9</ng-template>
                </swiper>
            </div>
            <div class="best-artist">

            </div>
        </div>

        <div class="best-music">

        </div>
    </div>

    <div class="player">

    </div>
</div>
