<div class="music-body">
  <div class="music-body__title">
    <p class="body-title">Best of the week</p>
  </div>
  <div class="scroll">
    <div class="music-column" *ngFor="let music of tracks">
      <div class="music-item">
        <img class="music-img" src="{{music.artist.picture_small}}" alt="">
        <p class="music-artist-name">{{music.artist.name}}</p>
        <p>-</p>
        <p class="music-title">{{music.title}}</p>
      </div>
      <div class="music-line"></div>
    </div>
  </div>
</div>
